.home{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  padding-left:8%;
  background:url("src/assets/pngtree-d-flying-cup-of-coffee-with-splash-and-beans-background-template-image_16124323.jpg") center/cover no-repeat;
  text-align:left;
}

/* Hero text area */
.hero-content{
  max-width:500px;
  color:white;
}

/* Heading */
.hero-content h1{
  font-size:48px;
  margin-bottom:15px;
  color:white;
}

/* Paragraph */
.hero-content p{
  font-size:18px;
  margin-bottom:25px;
  line-height:1.5;
}

/* Button */
.hero-btn{
  padding:12px 26px;
  background:#562424;
  color:white;
  border-radius:8px;
  text-decoration:none;
  font-weight:500;
  transition:0.3s;
}

.hero-btn:hover{
  background:#3e1f1f;
}